include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include internal_aireldentalchairs_com *.css
recursive-include internal_aireldentalchairs_com *.csv
recursive-include internal_aireldentalchairs_com *.html
recursive-include internal_aireldentalchairs_com *.ico
recursive-include internal_aireldentalchairs_com *.js
recursive-include internal_aireldentalchairs_com *.json
recursive-include internal_aireldentalchairs_com *.md
recursive-include internal_aireldentalchairs_com *.png
recursive-include internal_aireldentalchairs_com *.py
recursive-include internal_aireldentalchairs_com *.svg
recursive-include internal_aireldentalchairs_com *.txt
recursive-exclude internal_aireldentalchairs_com *.pyc
